body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
}

.d-flex {
  display: flex;
}

.main-header {
  display: flex;
  justify-content: center;
}

.header-content {
  background-color: #35444f;
  width: 1283px;
  height: 72px;
  margin-top: 34px;
}

.main-logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.main-logo-selected {
  color: #4bcaff;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-item {
  font-size: 24px;
  line-height: 28px;
  padding: 20px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.navbar-item-link {
  color: #ffffff;
}

.aside-and-main {
  display: flex;
}

.aside {
  display: flex;
  justify-content: start;
}

.aside-navbar-item {
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
}

.aside-navbar-item-link {
  color: #485863;
  padding: 20px;
}

.aside-navbar-wrapper {
  border: 1px solid grey;
  width: 344px;
  height: 340px;
  margin-left: 120px;
  margin-top: 48px;
}

.main-content {
}

.image {
  width: 680px;
  padding-left: 200px;
  padding-top: 75px;
  padding-bottom: 75px;
  border: 1px solid grey;
  margin: 52px;
}

.text-item {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.text {
  width: 885px;
  height: 120px;
  margin-left: 50px;
}

.text1 {
  width: 885px;
  height: 120px;
  margin-left: 50px;
  margin-top: 34px;
  margin-bottom: 54px;
}

.footer-content-wrapper {
  width: 1280px;
  height: 69px;
  background-color: #b4b7b9;
  margin-left: 100px;
  margin-bottom: 30px;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
}

.footer-navbar-item {
  padding-top: 25px;
  font-size: 28px;
  line-height: 28px;
}

.footer-navbar-item-link {
  color: #0c1927;
}
